//-----------------------------CSSaccueil--------------------
body{
    background-image:linear-gradient(to bottom, yellow, aliceblue);	
   color:white;
}

.site-header.featured-image .site-title a{
   font-family: 'Monoton', cursive;
}

#colophon .site-info a{
   color: #21759b;
}

.site-title a:link{
   color:#21759b;
   text-shadow: 0.05em 0.05em rgba(255, 255, 255, 0.8)
}

.archive .page-header .page-description{
   color:white;
}

.entry .entry-title a{
   text-shadow:0.1em 0.15em #154961;
}

.entry .entry-title a:hover{
   text-shadow:0.05em 0.1em white; 
   color:#154961;
}

article.post{
   background:rgba(255, 255, 255, 0.5);
}

//------------------FIN_CSSaccueil--------------------

//------------------CSScours--------------------------
.titre-projet{
	border-bottom: 0.2em dotted white;
}

#liste-cours h1{
	text-shadow: 0.05em 0.05em #3b96d3
}
//------------------FIN_CSScours----------------------
.titre-projet{
	border-bottom: 0.2em dotted white;
}

#liste-cours h1{
	text-shadow: 0.05em 0.05em #3b96d3
}

//-------------------Navigation--------------------------------
.main-navigation ul.main-menu li a:hover{
	color:white;
}

.svg-icon g:hover{
		color:white;	
}

.svg-icon:hover{animation:tourneIconMenu 0.2s;
animation-fill-mode:forwards;
}

@keyframes tourneIconMenu{
	from{transform:rotateZ(0deg)}
	to{transform:rotateZ(90deg)}
}

.main-navigation .sub-menu{
	background-color:rgba(255, 255, 255, 0.2);
	border-radius:0.5em;
}

.main-navigation .sub-menu > li > a{
	color:white;
	border-radius:0em 0.5em 0em 0.5em;
}

.main-navigation .sub-menu li.menu-item a:hover{
	background:white;
	color:#154961;
}

//-------------------FIN_Nagigation----------------------------


//-------------------page evenements------------------------------
.entry .entry-content p.has-background{	background:rgba(255,255,255,0.6);
	border-top:0.2em solid white;
	text-shadow:0.05em 0.05em #3b96d3;
}

.entry .entry-content a{
	text-shadow:0.02em 0.05em #154961;
	color:white;
	
}

div.wp-block-media-text__content p{
	color:#154961;
}

figcaption img{
	border-bottom:0.1em dotted white;
	border-top:0.2em dashed white;
	border-radius:20em;
	box-shadow:0em 0.5em 0.5em rgba(0,0,0,0.2);
}

.date-event{
	text-decoration:underline #3b96d3 ;
}

.post-navigation .nav-links a .meta-nav{
	opacity:0.5;
}

.widget-title{
	text-shadow:0.1em 0.1em #3b96d3;
}

.widget_recent_entries ul li a{
	opacity:0.5;
}

.widget_recent_entries ul li a:hover{
	opacity:1;
	text-decoration:dotted underline;
	text-shadow: 0.05em 0.05em white;
	color:#3b96d3;
}

li.cat-item a:hover {
	color:white;
	text-decoration:dotted underline;
} 
//--------------------fin_page_evenements-----------------

h1.entry-title{
    color:white;
        text-shadow: 2px 2px #3b96d3; 
}

span{
    color:rgba(59, 150, 211, 0.5);
}

span.meta-nav{
       text-shadow: 2px 2px rgba(59, 150, 211, 0.2);
}

div.wp-block-media-text__content p{
	color:white;
}

p.site-title{
    color:white;
    text-shadow: 2px 2px rgba(59, 150, 211, 0.2);
}