//-----------------------------CSSaccueil--------------------
body{
    background-image:linear-gradient(to bottom, black, black, #21759b, aliceblue);	
   color:white;
}

.site-header.featured-image .site-title a{
   font-family: 'Monoton', cursive;
}

#colophon .site-info a{
   color: #21759b;
}

.site-title a:link{
	color:#21759b;
	text-shadow: 0.05em 0.05em rgba(255, 255, 255, 0.8)
}

.archive .page-header .page-description{
	color:white;
}

.entry .entry-title a{
	text-shadow:0.1em 0.15em #154961;
}

.entry .entry-title a:hover{
	text-shadow:0.05em 0.1em white; 
	color:#154961;
}

article.post{
	background-image:linear-gradient(#3b96d3, black);
}

//------------------FIN_CSSaccueil--------------------

//------------------CSScours--------------------------
.titre-projet{
	border-bottom: 0.2em dotted white;
}

#liste-cours h1{
	text-shadow: 0.05em 0.05em #3b96d3
}
//------------------FIN_CSScours----------------------
.entry .entry-content{
    
    a{
        color:white;
        text-decoration:none;
        text-shadow:0.1em 0.05em #154961;
    }

    a:hover{
        text-decoration:underline dotted #3b96d3;
}

     p.has-background {
        color:white;	
        background:rgba(255,255,255,0.6);
        border-top:0.2em solid white;
        border-radius:0.5em;
        border-bottom:0.2em solid #3b96d3;
        text-shadow: 2px 2px #3b96d3;
    }

    p.nouvelles{
        color:white;
        text-shadow: 2px 2px #3b96d3;
    }
}

//image à côté du evenements dans la front-page
figcaption img{
	border-bottom:0.1em dotted white;
	border-top:0.2em dotted aliceblue;
	border-radius:20em;
	box-shadow:0em 0.5em 0.5em rgba(0,0,0,0.2);
}

//-------------------page evenements------------------------------
.date-event{
	text-decoration:underline #3b96d3 ;
}

.post-navigation .nav-links a .meta-nav{
	color:white;
	opacity:0.5;
}

.widget-title{
	text-shadow:0.1em 0.1em #3b96d3;
}

.widget_recent_entries ul li a{
	color:white;
	opacity:0.5;
}

.widget_recent_entries ul li a:hover{
	opacity:1;
	color:white;
	text-decoration:dotted underline;
}

li.cat-item a:hover {
	color:white;
	text-decoration:dotted underline;
} 
//--------------------fin_page_evenements-----------------

h1.entry-title{
    color:white;
        text-shadow: 2px 2px #3b96d3; 
}

span{
    color:rgba(59, 150, 211, 0.5);
}

span.meta-nav{
       text-shadow: 2px 2px rgba(59, 150, 211, 0.2);
}

div.wp-block-media-text__content p{
	color:white;
}

p.site-title{
    color:white;
    text-shadow: 2px 2px rgba(59, 150, 211, 0.2);
}