@keyframes anim1 {
    from {
        transform: translateY(-20vh)  rotateX(180deg);
         animation-timing-function: cubic-bezier(1, .01, .91, 1.7);
    }

    25%{
        transform: translateY(8vh) rotateX(180deg);
    }

    50%{
        transform: translateY(-12vh) rotateX(0deg);
    }
 
    100% {
        transform: translateY(0) rotateX(0deg); 
        // animation-timing-function: cubic-bezier(.89, .17, 1, .31);
    }
}

@keyframes anim3 {
    0%{
        background: -webkit-linear-gradient(to left, white, blue, blue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: translateX(0%) scale(0.5, 0.5);
    }

    50%{
        transform: translateX(0%) scale(2, 2);
    }
    
    100%{
        background: white;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: translateX(0) scale(1, 1);
    }

}

.site-header.featured-image {
    perspective: 500px;
}

.anim1 {
    transform-origin: top center;
    animation: anim1 2s;
    animation-fill-mode: forwards;    
}

.anim3 {
    animation: anim3 0.5s forwards;
    animation-fill-mode: forwards;
}
